
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 10px;
}

body {
    /* padding: 1%; */
    width: 96%;
    font-size: large;
    font-family:'Courier New', Courier, monospace; 
    font-weight: bold;
    overflow: hidden;
    line-height: 1;
}

img {
    border-radius: 0px;
    padding: 5px;
    max-height: 50px;
  }
  
#headimage {
    position:static;
    box-shadow: none;
    border-style: none;
    width: 98%;
    transform: none;
}


div {
    vertical-align: middle;
    -o-transition: color 1.0s, font-size 2.0s;
    -ms-transition: color 1.0s, font-size 2.0s;
    -moz-transition: color 1.0s, font-size 2.0s;
    -webkit-transition: color 1.0s, font-size 2.0s;
    transition: color 1.0s ease-in-out, font-size 3.0s ease-in-out;
}

div#navigation {font-family:'Courier New', Courier, monospace; font-size: 16px;}
div#navigation a:link { color: #ffffff; transition: color 1.8s;}
div#navigation a:visited { color: #444444; transition: color 1.8s;}
div#navigation a:hover { color: #d118c8; font-size: 16px; transition: color 0.8s;}
div#navigation a:active { color: #d118c8; font-size: 16px; transition: color 0.8s;}

div#description {font-family: 'Courier New', Courier, monospace; font-size: 14px; color: #444444 }

div.blinds {
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    color: #a8ffc904;
    font-size: 20px;
    transition: color 0.2s, font-size 3.0s ease-in-out;
}
div.blinds:hover {
    font-family:'Courier New', Courier, monospace;
    color: #011000f2;
    font-size: 60px;
}

div.eff1 {
    position: absolute; top: -100px; left: 150px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e020;
    text-decoration: none;
    font-size: 600px;
    overflow: hidden;
    
}
div.eff1:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e080;
    text-decoration: none;
    font-size: 400px;
}

div.eff2 {
    position: absolute; top: 0px; left: 100px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e025;
    text-decoration: none;
    font-size: 350px;
    overflow: hidden;
}
div.eff2:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e060;
    text-decoration: none;
    font-size: 500px;
}

div.eff3 {
    position: absolute; top: 100px; left: 50px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e030;
    text-decoration: none;
    font-size: 350px;
    overflow: visible;
}
div.eff3:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e065;
    text-decoration: none;
    font-size: 200px;
}

div.eff4 {
    position: absolute; top: 0px; left: 0px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e035;
    text-decoration: none;
    font-size: 250px;
    overflow: hidden;
}
div.eff4:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e0aa;
    text-decoration: none;
    font-size: 300px;
}

div.eff5 {
    position: absolute; top: 0px; left: -50px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e040;
    text-decoration: none;
    font-size: 200px;
    overflow: hidden;
}
div.eff5:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e0ff;
    text-decoration: none;
    font-size: 300px;
}

