
/* end resetting */

@font-face {
    font-family: "anon";
    src: url("fonts/AnonymousPro-Regular.ttf");
}
.grid-container {
    display: grid;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;
    grid-gap: 10px;
    align-content: stretch;
    justify-content: stretch;
}
@media only screen and (max-width: 600px)
{
    h3 {
        font-size: 12pt;
    }
    .grid-container {
        font-size: 9pt;
        grid-template-columns: 1fr;
        grid-template-areas: 'one' 
                             'two';
    }
    .grid-img {
        /* border: solid; */
        padding: 10px;
        grid-area: 'two';
        text-align: center;
        
    }
    .grid-text {
        /* border: solid; */
        text-align: justify;
        padding: 10px;
        grid-area: 'one';
    }
    .img-preview {
        height: 100px;
        object-fit: contain;
        align-self: right;
    }
    .img-preview:hover {
        transform: scale(3);
        margin: auto;
        cursor: not-allowed;
    }
}
@media only screen and (min-width: 601px)
{
    h3 {
        font-size: 13pt;
    }
    .grid-container {
        font-size: 10pt;
        grid-template-columns: repeat(2fr, 1fr);
        grid-template-areas: 'one two';
        /* grid-auto-columns: minmax(0, 1fr); */
        grid-auto-flow: column;
    }
    .grid-img {
        /* border: solid; */
        padding: 10px;
        grid-area: 'two';
        text-align: right;
        
    }
    .grid-text {
        /* border: solid; */
        text-align: justify;
        padding: 10px;
        grid-area: 'one';
    }
    .img-preview {
        height: 100px;
        object-fit: contain;
        align-self: right;
    }
    .img-preview:hover {
        transform: scale(3) translateX(-33%);
        margin: auto;
        cursor: not-allowed;
    }
}
body {
    color: #ffffff;
    background-color: #001706;
    text-align: left;
    font-family: "anon";
    font-size: 12pt;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
    overflow-x: hidden;
    cursor: help;
    max-width: 1000px;
    word-break: normal;
}

a:link { 
    color: #ffffff; 
    text-decoration: underline;
    word-break: break-all;
}
a:visited { 
    color: #ffffff; 
    text-decoration: none;
}
a:hover { 
    color: #d118c8; 
    transition: color 0.5s;
    text-decoration: underline;
    cursor: crosshair;
}
a:active { 
    color: #d118c8; 
    text-decoration: underline;
}

.logo-text {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    color: white;
    opacity: 0.5;
}
.menu {
    margin: auto;
    position: fixed;
    top: 10px;
    left: 8px;
    background-color: black;
    max-width: 800px;
    height: 20px;
    width: calc(100% - 31px);
    z-index: 10;
    padding: 5px;
    border: 2px solid #d118c8;
    border-radius: 5px;
}
.left {
    position: absolute;
    top: 5px;
    left: 10px;
}
.right {
    position: absolute;
    top: 5px;
    right: 10px;
}
.logo-img {
    height: 40px;
    position: relative;
    right: 20px;
}
.portfolio {
    z-index: 10;
}




/* background text */
.background {
    vertical-align: middle;
    transition: color 1.0s ease-in-out, font-size 3.0s ease-in-out;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    color: #af00e0;
    text-decoration: none;
    opacity: 0.2;
    z-index: -10;
}
.background.eff1 {
    position: fixed; 
    top: calc(-100px); 
    left: -80px;
    font-size: 400px;
}
.background.eff2 {
    position: fixed; 
    top: calc(1 * 100% / 5); 
    right: 0px;
    font-size: 500px;
}
.background.eff3 {
    position: fixed; 
    top: calc(2 * 100% / 5); 
    right: 250px;
    font-size: 150px;
}
.background.eff4 {
    position: fixed; 
    top: calc(3 * 100% / 5); 
    left: 0px;
    font-size: 450px; 
}
.background.eff5 {
    position: fixed; 
    top: calc(4 * 100% / 5); 
    right: 200px;
    font-size: 600px;
}