body {
    background-color: #3a3a40;
    margin:0;
    padding:0;
    width: 100%;
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace; 
    color: #eeeeee;
}

div.head {
    font-size: xx-large;
    font-weight: bolder;
}

table.normal {
    width: 100%;
    font-size: xx-large;
}


a {
    font-family:'Courier New', Courier, monospace; 
    color: #d0d0d0;
    text-decoration: none;
    -o-transition:color .7s;
      -ms-transition:color .7s;
      -moz-transition:color .7s;
      -webkit-transition:color .7s;
      transition:color .7s;
}

a:hover {
    font-family:'Courier New', Courier, monospace; 
    color: #660088;
    text-decoration: none;
}



/* 
div.container {
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 1024px;
  }

div.normal {
    font-size: x-large;
}





*/
