/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 10px;
}

body {
    text-align: center;
    background-color: #001706ff;      /*#3a3a40;*/
    min-width: 300px;
    max-width: 1024px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    /* padding: 1%; */
    width: 96%;
    font-size: large;
    font-family:'Courier New', Courier, monospace; 
    font-weight: bold;
    color: #000000;
    overflow: hidden;
}

img {
    box-shadow: 0px 2px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 5px;
    max-height: 50px;
  }
  

#headimage {
    position:static;
    box-shadow: none;
    border-style: none;
    width: 98%;
    transform: none;
}


div {
    vertical-align: middle;
    -o-transition:color 1.6s;
    -ms-transition:color 1.6s;
    -moz-transition:color 1.6s;
    -webkit-transition:color 1.6s;
    transition:color 1.6s;
}
div.head {
    font-size: 400pt;
    font-weight: bolder;
    position: absolute; top: 5px; left: 5px;
}



#head_txt {
    position: absolute; top: 1%; left: 5%;
    font-weight: bold;
    font-size: large;
}



a {
    font-family:'Courier New', Courier, monospace; 
    color: #000000; /* #d0d0d0;*/
    text-decoration: none;
    -o-transition:color 1.6s;
      -ms-transition:color 1.6s;
      -moz-transition:color 1.6s;
      -webkit-transition:color 1.6s;
      transition:color 1.6s;
}

div.eff1 {
    position: absolute; top: 0px; left: -150px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e020;
    text-decoration: none;
    font-size: 400px;
    overflow: hidden;
}
div.eff1:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e080;
    text-decoration: none;
}

div.eff2 {
    position: absolute; top: 100px; left: -15px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e025;
    text-decoration: none;
    font-size: 300px;
    overflow: hidden;
}
div.eff2:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e060;
    text-decoration: none;
}

div.eff3 {
    position: absolute; top: 200px; left: -100px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e030;
    text-decoration: none;
    font-size: 400px;
    overflow: visible;
}
div.eff3:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e065;
    text-decoration: none;
}

div.eff4 {
    position: absolute; top: 300px; left: 30px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e035;
    text-decoration: none;
    font-size: 300px;
    overflow: hidden;
}
div.eff4:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e0aa;
    text-decoration: none;
}

div.eff5 {
    position: absolute; top: 400px; left: 5px;
    font-family:'Courier New', Courier, monospace; 
    color: #b000e040;
    text-decoration: none;
    font-size: 200px;
    overflow: hidden;
}
div.eff5:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #b000e0ff;
    text-decoration: none;
}












div.link:hover {
    
    font-family:'Courier New', Courier, monospace; 
    color: #ff007b;
    text-decoration: none;
    font-size: xx-large;
}



#container{
    width: 98%;
    border-radius: 1px;
    border-style: solid;
    border-width: 0.1em;
    border-color: #303030;
    padding: 0.5em;
    float: left;
    text-align: right;
    font-size: medium;
    margin: 3px;
}

#floated{
    float: left;
}

div.index{
    width: 98%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1em;
    border-color: #303030;
    padding: 0.5em;
    float: left;
    text-align: left;
    transform: rotate3d(15%, 15%, 15%)
}
