
/* end resetting */

@font-face {
    font-family: "anon";
    src: url("AnonymousPro-Regular.ttf");
}
h3 {
    font-size: 13pt;
}
.portfolio {
    margin: 0px;
    padding-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    
    overflow-x: scroll;
    border-right:groove;

}
.grid-container {
    -webkit-flex-wrap: wrap;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 10pt;
    min-width: 320px;
    max-width: 320px;
    min-height: 120px;
    max-height: 320px;
    border: 1px solid white;
    border-bottom: hidden;
    margin: 10px;
}
.grid-text {
    min-height: 140px;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    cursor: vertical-text;

}
.grid-img {
    margin-bottom: 0px;
    text-align: center;
    
}
.img-preview {
    height: 100px;
    object-fit: contain;
    z-index: 50;
}
.img-preview:hover {
    transform: scale(3) translateY(-25%);
    margin: auto;
    cursor:grab;
    z-index: 50;
}
body {
    color: #ffffff;
    background-color: #001706;
    text-align: left;
    font-family: "anon";
    font-size: 12pt;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    overflow-y: scroll;
    cursor: help;
    max-width: 1920px;
    word-break: normal;
}

a:link { 
    color: #ffffff; 
    text-decoration: underline;
    word-break: break-all;
}
a:visited { 
    color: #ffffff; 
    text-decoration: none;
}
a:hover { 
    color: #d118c8; 
    transition: color 0.5s;
    text-decoration: underline;
    cursor: crosshair;
}
a:active { 
    color: #d118c8; 
    text-decoration: underline;
}

.logo-text {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    color: white;
    opacity: 0.5;
}
.menu {
    margin: auto;
    position: fixed;
    top: 10px;
    left: 8px;
    background-color: black;
    max-width: 284px;
    height: 20px;
    width: calc(100% - 31px);
    z-index: 10;
    padding: 5px;
    border: 2px solid #d118c8;
    border-radius: 5px;
}
.left {
    position: absolute;
    top: 5px;
    left: 10px;
}
.right {
    position: absolute;
    top: 5px;
    right: 10px;
}
.logo-img {
    height: 40px;
    position: relative;
    right: 20px;
}



/* background text */
.background {
    vertical-align: middle;
    transition: color 1.0s ease-in-out, font-size 3.0s ease-in-out;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    color: #af00e0;
    text-decoration: none;
    opacity: 0.2;
    z-index: -10;
}
.background.eff1 {
    position: fixed; 
    top: calc(-100px); 
    left: -80px;
    font-size: 400px;
}
.background.eff2 {
    position: fixed; 
    top: calc(1 * 100% / 5); 
    right: 0px;
    font-size: 500px;
}
.background.eff3 {
    position: fixed; 
    top: calc(2 * 100% / 5); 
    right: 250px;
    font-size: 150px;
}
.background.eff4 {
    position: fixed; 
    top: calc(3 * 100% / 5); 
    left: 0px;
    font-size: 450px; 
}
.background.eff5 {
    position: fixed; 
    top: calc(4 * 100% / 5); 
    right: 200px;
    font-size: 600px;
}