@font-face {
font-family: HK;
src: url(HankenGrotesk-Light.ttf);
}
html {
    scroll-behavior: smooth;
}
a:link { 
    color: rgb(64, 147, 224); 
    text-decoration: none;
}
a:visited { 
    color: rgb(64, 187, 224); 
    text-decoration: none;
}
a:hover { 
    color: rgb(133, 226, 255); 
    transition: color 0.5s;
    text-decoration: none;
}
a:active { 
    color: rgb(64, 187, 224); 
    text-decoration: none;
}
body {
    text-align: center;
    color: white;
    background: black;
    overflow: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: HK;
    size: 14pt;
}
#logo {
    color: white;
}
.grid-item-image {
    text-align: center;
    padding: 40px;
}
.grid-item-text {
    text-align: justify;
    padding: 40px;
}
h1 {
    size: 16pt;
    text-align: center;
    letter-spacing: 8px;
}
h2 {
    size: 14pt;
    color: white; 
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}
h3 {
    text-align: center;
    size: 12pt;
}
img {
    width: 98%;
    object-fit: cover;
    text-align: center;
}
.mainimage {
    max-height: 300px;
}
textarea, input[type=text] {
    font-family: HK;
    border: 2px solid rgb(64, 187, 224);
    border-radius: 4px;
    background-color: black;
    color: white;
    width: 80%;
    transition: border 1s;
}
textarea:hover, input[type=text]:hover {
    font-family: HK;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: black;
    color: white;
    width: 80%;
    transition: border 1s;
    }
input[type=submit] {
    font-family: HK;
    border: 2px solid rgb(64, 187, 224);
    border-radius: 4px;
    background-color: black;
    color: white;
    width: 100px;
}
input[type=submit]:hover {
    font-family: HK;
    border: 2px solid rgb(64, 187, 224);
    border-radius: 4px;
    background-color: rgb(64, 187, 224);
    color: white;
    width: 100px;
    transition: color 1.0s ease-in-out, background-color 1.0s ease-in-out;
}
@media only screen and (max-width: 1200px) {
    #a1 { order: 1  }
    #a2 { order: 2  }
    #b1 { order: 3  }
    #b2 { order: 4  }
    #c1 { order: 6  }
    #c2 { order: 5  }
    #d1 { order: 7  }
    #d2 { order: 8  }
    #e1 { order: 10 }
    #e2 { order: 9  }
    #f1 { order: 11 }
    #f2 { order: 12 }
    #g1 { order: 14 }
    #g2 { order: 13 }
    #h { order: 15; }
    #i { order: 16  }
    #contact { order: 17    }
    #form { order: 18 }
    .grid-container {
        display: grid;
        grid-template-areas: 
                            'grid-item-image' 
                            'grid-item-text';
    }
    ol, li {
        font-size: 16pt;
    }
    #contactlink {
        position: fixed;
        right: 20px;
        bottom: 20px;
        background-color: black;
        border: 2px solid rgb(64, 187, 224);
        border-radius: 4px;
        padding: 5px;
        transition: transform 2s;
    }
    .viewer {
        width: 100%;
        margin: auto;
    }
    
    .preview {
        width: 100%;
    }
    
    .thumbnail {
        object-fit: cover;
        width: 120px;
        height: 80px;
    }
}
@media only screen and (min-width: 1201px) {
    ol, li {
        font-size: 20pt;
    }
    #a1 { order: 1  }
    #a2 { order: 2  }
    #b1 { order: 3  }
    #b2 { order: 4  }
    #c1 { order: 5  }
    #c2 { order: 6  }
    #d1 { order: 7  }
    #d2 { order: 8  }
    #e1 { order: 9 }
    #e2 { order: 10  }
    #f1 { order: 11 }
    #f2 { order: 12 }
    #g1 { order: 13 }
    #g2 { order: 14 }
    #h { order: 15 ; padding: 50px; }
    #i { order: 16  }
    #contact { order: 17    }
    #j2 { order: 18 }

    .grid-container {
        display: grid;
        grid-template-areas: 
                            'grid-item-image grid-item-text';
    }
    #contactlink {
        position: fixed;
        right: 20px;
        top: 20px;
        background-color: black;
        border: 2px solid rgb(64, 187, 224);
        border-radius: 4px;
        padding: 5px;
        transition: transform 2s;
    }
    .viewer {
        width: 80%;
        margin: auto;
    }
    
    .preview {
        width: 100%;
    }
    
    .thumbnail {
        object-fit: cover;
        width: 320px;
        height: 240px;
    }
}